<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/post2">
        <input type="text" name="keyword" id="keyword" placeholder="bikini">
        <input type="text" name="min_videos" id="min_videos" placeholder="10">
        <button type="submit">Submit</button>
    </form>
    List

</body>
</html>